<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
    </head>
    <body>
        <form action="/students" method="post">
        <input type="text" name="first_name" placeholder="first name" required="required"/></br>
        <input type="text" name="last_name" placeholder="last name"/></br>
        <input type="text" name="address" placeholder="addres"/></br>
        <input type="text" name="avg_grade" placeholder="avg grade"/></br>
        <button>Submit</button>
        </form> 
        <table border="1" width="80%">
            <tr>
                <td>id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>Avg. Grade</td>
            </tr>
              {{#each students}}
             <tr>
                <td>{{this.id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.avg_grade}}</td>
            </tr>
             {{/each}}
        </table>
    </body>

</html>